apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: wanderlust-app-hpa
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: wanderlust-backend-dep 
  minReplicas: 2
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70

