apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
data:
  PORT: "5000"
  MONGODB_URI: "mongodb://mongo-state-0.mongo.default.svc.cluster.local:27017/wanderlust"
  REDIS_URL: "redis://redis-state-0.redis.default.svc.cluster.local:6379"
